:root {
  --flamerial-black: #140f0f;
  --flamerial-red: #b32815;
  --flamerial-green: #960c0c;
  --flamerial-yellow: #c76e02;
  --flamerial-blue: #a88e6e;
  --flamerial-magenta: #9e6a4f;
  --flamerial-cyan: #ba3e00;
  --flamerial-white: #e8dcbc;
}
