root = true
[*]
charset = utf-8
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
[{.*yml,ports/hyper/*.js,ports/terminator/*.conf}]
indent_size = 2
[ports/{dmenu,dwm,st}/*.h]
indent_size = 8
indent_style = tab
